@import "variables.scss";

.footer {
  height: 130px;
  margin-top: 60px;
  padding-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
  background: #fbfbfb;

  @include for-large-up {
    padding-left: 160px;
    padding-bottom: 0;
  }

  &_decor {
    position: absolute;
    top: 70px;
    right: 40px;
    width: 55px;
    height: 60px;

    @include for-large-up {
      width: 90px;
      height: 100px;
    }
  }
}

.footer_logo {
  background-color: rgba(25, 104, 252, 0.05);
  display: flex;
  align-items: center;
  height: 50px;
  width: 250px;

  &_img {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 10px;
  }

  &_text {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: $text-color__primary-blue;
    margin: 0;
  }
}

.social_icons {
  display: flex;
  height: 50px;
  margin-left: 50px;

  &-item {
    width: 50px;
    height: 50px;
    padding: 15px 20px;
  }
}

.footer_nav {
  display: none;

  @include for-large-up {
    display: flex;
  }

  &-list {
    list-style-type: none;
    display: flex;
    margin-left: 70px;
  }

  &-item {
    width: 120px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #000;
  }
}
