@import "variables";

.step {
  padding: 0 60px;

  @include for-large-up {
    padding: 0;
  }

  &_title {
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 120px;

    @include for-large-up {
      margin-left: 160px;
    }
  }

  &_line {
    width: 80px;
    border-bottom: 2px solid $text-color__primary-blue;
    box-shadow: 0px 2px 0px #d1e1fe;
    margin-top: 10px;
    margin-bottom: 8px;

    @include for-large-up {
      margin-left: 120px;
    }

    &-vertical {
      height: 40px;
      margin-left: 60px;
      border-left: 1px dotted $text-color__primary-blue;
      border-bottom: none;
      //   position: absolute;
      //   top: 2248px;
      //   left: 121px;
      z-index: 1;

      @include for-large-up {
        width: 80px;
        margin: 0;
        margin-top: 148px;
        border-bottom: 1px dotted $text-color__primary-blue;
        border-left: none;
      }

      &-two {
        @include for-large-up {
          margin: 0;
          margin-top: 187px;
        }
      }
    }
  }
}

.step-block {
  background-color: #fff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  position: relative;

  @include for-large-down {
    min-width: 520px;
    height: 180px;
    margin: 0;
  }

  @include for-large-up {
    max-width: 320px;
    height: 220px;
    padding: 40px;
  }
  &_for_up {
    @include for-large-up {
      display: flex;
      margin-left: 160px;
    }
  }
  &-one {
    @include for-large-up {
      margin: 0;
      margin-top: 38px;
    }
  }
  &-two {
    @include for-large-up {
      margin: 0;
      margin-top: 78px;
    }
  }
  &-three {
    @include for-large-up {
      margin: 0;
      margin-top: 118px;
    }
  }

  &_subtitle {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  &_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: $text-color__blue;
    margin: 0;
  }

  &_text {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }

  &_decor {
    position: absolute;
    top: 40px;
    right: 40px;

    &-inverted {
      transform: rotate(180deg);
    }

    &_squire {
      position: absolute;
      top: 160px;
      right: -5px;
      @include for-large-up {
        top: 200px;
      }
    }
  }
}
