@import "variables.scss";

.response {
  padding: 50px 50px 0 50px;

  @include for-large-up {
    padding: 0 160px;
    margin-top: 160px;
  }
}

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 630px;

  @include for-large-up {
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
  }

  &_block {
    width: 540px;
    height: 280px;
    background-color: #fff;
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
    padding: 40px 40px;
    position: relative;

    &-first {
      @include for-large-up {
        margin-right: 40px;
      }
    }
  }

  &_decor {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &_text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }
}

.user {
  display: flex;

  &_img {
    margin-right: 20px;
  }

  &_name {
    font-size: 18px;
    line-height: 30px;
    font-weight: $rich-font;
    margin: 0;
  }
  &_position {
    font-size: 14px;
    line-height: 30px;
    font-weight: $rich-font;
    color: $text-color__blue;
    margin: 0;
  }
}
